<h1>QuestionsController#ask</h1>
<p>Ask your coach</p>
<p><form action="/answer" method="get">
  <input type="text" name="question" placeholder="What do you want?">
  <input type="submit" value="Ask!">
</form>
</p>

